<div class="playlist-body">
    <ul class="playlist-table-header">
        <li style="cursor: pointer;" (click)="changeSort('name')">Title</li>
        <li style="cursor: pointer;" (click)="changeSort('album')">Album</li>
        <li>Country</li>
        <li><i class="uil uil-clock-eight"></i></li>
    </ul>

    <ul class="playlist-rows" *ngFor="let track of tracks |orderList:sortOption.property:sortOption.order">
        <li class="track-name">
            <ng-container *ngTemplateOutlet="coverSection;context:{track}"></ng-container>
        </li>
        <li class="track-name-opacity">
            {{track.album}}
        </li>
        <li class="track-name-opacity">
            {{track.artist?.nationality}}
        </li>
        <li class="track-name-opacity">
            {{track.album}}
        </li>
    </ul>
</div>

<ng-template #coverSection let-track="track">
    <div class="cover-section">
        <img [src]="track.cover" [alt]="track.name" class="cover-track">
        <div class="cover-info">
            <div class="name-track">{{track.name}}</div>
            <div class="name-track-details">{{track.artist.name}}</div>
        </div>
    </div>
</ng-template>