.section--generic {
  margin-bottom: 2rem;
}

.section--generic__player--zone .player--list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
  flex-wrap: wrap;
  flex: 1;
}

.section--generic__player--zone .player--list.card-big {
  gap: 5rem;
  flex: 1;
}
